</main>
<footer class="site-footer">
<div class="container">&copy; <%= new Date().getFullYear() %> EJS Games</div>
</footer>
<script src="/static/js/tictactoe.js" defer></script>
<script src="/static/js/puzzle.js" defer></script>
<script src="/static/js/snake.js" defer></script>
<script src="/static/js/gravity.js" defer></script>
</body>
</html>