<%- include('../partials/header') %>

<section class="game-center">
  <h2>Snake</h2>

  <canvas
    id="snake-canvas"
    width="240"
    height="240">
  </canvas>

  <div class="controls">
    <button id="restart-snake">Restart</button>
    <div id="snake-score">Score: 0</div>
  </div>
</section>

<%- include('../partials/footer') %>
