<%- include('../partials/header') %>
<section class="game-center">
<h2>Tic Tac Toe (2-player)</h2>
<div id="ttt">
<div id="board" class="ttt-board"></div>
<div class="controls">
<button id="reset-ttt">Reset</button>
<div id="ttt-status"></div>
</div>
</div>
</section>
<%- include('../partials/footer') %>